.outside-flag{
    background-color: blue;
    height: 600px;
    width: 900px;
}

.flag{
    height: 200px;
    width: 900px;
    background-color: white;
    position: fixed;
    bottom: 350px;
    left:8px;
    
}

.nica-flag{
    position: fixed;
    top: 180px;
    width: 250px;
    height: 200px;
    width: 200px;
    left: 350px;
    
}